.header__bg {
    justify-content: space-between;
    background: black;
    height: 6rem;
    width: 100%;
}

.header {
    padding: $space 0 $space 0;
    margin: 0 auto;
    max-width: 50%;
    display: flex;
    color: white;
    float: right;
}

.header__h1 {
    margin: 0;
}

.header__link {
    text-decoration: none;
    color: white;
    margin: 0 1rem 0 1rem;
}

.header-top {
    position: fixed;
}
